body {
    background: rgb(212, 230, 241);
}
.custom-container {
    max-width: 1300px; /* Ajusta el ancho máximo del contenedor según tus necesidades */
    background: rgba(211, 204, 227, 0.7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.custom-list{
   
    font-size: 18px; 
    color: rgb(255, 255, 255);
}

.h2-container{
    background: rgba(60, 125, 130, 0.7);
}

.seccion-conteiner{
    margin-top: 30px;  
    width: 130%;
}
.seccion-conteiner2{
    margin-top: 30px; 
    width: 80%;
}